.btn
	height: 50px
	display: inline-block  
	line-height: 20px
	font-size: 17px
	font-weight: 400
	border: 0
	padding: 15px 40px
	text-align: center
	border-radius: 25px
	box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.15)
	cursor: pointer
	transition: all 0.3s ease
	position: relative
	overflow: hidden
	border: 1px solid $primary-color

	&:after
		display: block
		content: ''
		position: absolute
		width: 100%
		height: 0
		top: 50%
		left: 50%
		background: #fff
		opacity: 0
		transform: translateX(-50%) translateY(-50%) rotate(45deg)
		transition: all .4s ease-out

	span 
		position: relative
		z-index: 2

	&:hover:after
		height: 260%
		opacity: 1
	
	&-primary
		background-color: $primary-color
		color: #fff
		border-color: $primary-color
		&:hover
			color: $primary-color
		
	&-secondary
		background-color: #FFF
		color: $primary-color 
		border-color: #fff
		&:after
			background-color: $primary-color 
		&:hover
			color: #FFF


.scroll-down
	position: absolute
	left: 0
	right: 0
	margin: auto
	z-index: 10
	bottom: 5vw
	height: 140px
	width: 140px
	cursor: pointer
	&__button
		height: 100%
		width: 100%
		background-color: rgba(255, 255, 255, .65)
		box-shadow: 0px 4px 12px 3px rgba(91, 194, 253, 0.5)
		border-radius: 50%
		animation: 4s bounceScoll 4s infinite
		&:before
			width: 100px
			height: 100px
			content: ''
			display: block
			position: absolute
			left: 0
			right: 0
			bottom: 0
			top: 0
			margin: auto
			background: #fff
			border-radius: 50%
			background-image: url('../images/caret-down.svg')
			background-repeat: no-repeat
			background-position: center center
			background-size: 26px 14px
			box-shadow: 0px 4px 12px 3px rgba(91, 194, 253, 0.15)
			cursor: pointer
		


@keyframes bounceScoll
  0%, 20%, 50%, 80%, 100%
    transform: translateY(0)

  40%
    transform: translateY(-20px)

  60%
    transform: translateY(-10px)