.offer
	height: auto
	padding-bottom: 33% 
	padding-top: 215px 
	position: relative
	
	background-image: url(../images/offer-main.jpg) 
	background-position: 50% 50%
	background-size: cover
	background-attachment: fixed
	
	.offer-inner
		margin-bottom: -200px 
	
	h1
		font-size: 45px
		font-weight: 400 
		color: #FFF
		margin-bottom: 25px 
		
	p
		color: #fff
		font-size: 26px 



	.waves
		position: absolute
		bottom: 0
		left: 0
		right: 0
		pointer-events: none
		
		img
			display: block
			max-width: 100% 